body {
    font-family: 'Roboto Mono',monospace;
    min-height: 900px;
    background-color: #000000;/*alterado o background*/
    background-size: auto;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

header {
    text-align: center;
    margin: 30px 0px 60px 0px;
    padding: 15px 2px;
  }

h2 {
  font-size: 10px;
}
  
.calculadora-de-media {
    text-align: center;
    padding: 20px;
    height: auto;
  }
  
.page-title {
    color:#ffffff;
    margin: 0 0 5px;
    font-weight: bold;
    text-decoration-color: #696969;
  }
  
.page-subtitle {
    color:#ffffff;
    margin-top: 5px;
    font-weight: bold;
  }
  
.page-logo {
    width: 200px;
  }
  
.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
form label, form legend {
    display: block;
    margin: 0 0 5px;
  }

.formulario_notas {
  color:#ffffff;
  margin: 0 0 5px;
  font-weight: bold;
  text-decoration-color: #696969;
}

.formulario_notas input {
  display: block;
  margin: 0 auto;
}

.input-padrao {
	margin: 0 0 20px;
	padding: 2px 3px;
	width: 30%;
}

.botão_calcular{
  margin: 0 0 20px;
	padding: 2px 3px;
	width: 58%;
}

.resultado {
  margin-top: 5px;
  font-size: 2rem;
  font-weight: bold;
	padding: 2px 3px;
	width: 100%;
  color:#ffffff;
}

.mensagem-aprovado {
  margin-top: 5px;
  font-size: 2rem;
  font-weight: bold;
	padding: 2px 3px;
	width: 100%;
  color:#d4facf;
}

.mensagem-reprovado {
  margin-top: 5px;
  font-size: 2rem;
  font-weight: bold;
	padding: 2px 3px;
	width: 100%;
  color:#ff0000;
}

.conversor {
    text-align: center;
    padding: 20px;
    height: auto;
  }
button {
  padding: 10px;
  border-radius: 20px;
  width: 90px;
  font-size: 15px;
  font-weight: bold;
  border: solid black;
  background-color: #ffe676;
}

.reload {
  width: 150px;
}